.candidate-card-list {
  @apply grid grid-flow-row grid-cols-4 gap-0 row-gap-2;
}


.candidate-card-list__item .candidate-card__wrapper {
  @apply pr-1 ml-1 border-r border-grey-100;
}

.candidate-card-list__item--last .candidate-card__wrapper {
  @apply border-0;
}
