<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-black"></span>
		<span class="sg-label">Black<br>#00000;</span>
	</li>
	<li>
		<span class="sg-swatch bg-white"></span>
		<span class="sg-label">White<br>#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch bg-green-100"></span>
		<span class="sg-label">Green 100<br>#29bc51</span>
	</li>
	<li>
		<span class="sg-swatch bg-green-200"></span>
		<span class="sg-label">Green 200<br>#1c8c3b</span>
	</li>
</ul>
