<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-grey-100"></span>
		<span class="sg-label">--color-grey-100<br>#f3f3f3</span>
	</li>
	<li>
		<span class="sg-swatch bg-grey-200"></span>
		<span class="sg-label">--color-grey-200<br>#adadad</span>
	</li>
	<li>
		<span class="sg-swatch bg-grey-300"></span>
		<span class="sg-label">--color-grey-300<br>#4c4c4c</span>
	</li>
	<li>
		<span class="sg-swatch bg-grey-400"></span>
		<span class="sg-label">--color-grey-400<br>#343434</span>
	</li>
	<li>
		<span class="sg-swatch bg-grey-500"></span>
		<span class="sg-label">--color-grey-500<br>#202020</span>
	</li>
</ul>
