<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-red"></span>
		<span class="sg-label">--color-red<br>#d6151b</span>
	</li>
	<li>
		<span class="sg-swatch bg-facebook-blue"></span>
		<span class="sg-label">--color-facebook-blue<br>#067ceb</span>
	</li>
</ul>
