<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-brands-facebook"></span>
		<span class="sg-label">Facebook blue<br>#067ceb</span>
	</li>
	<li>
		<span class="sg-swatch bg-brands-twitter"></span>
		<span class="sg-label">Twitter blue<br>#00c9ff</span>
	</li>
	<li>
		<span class="sg-swatch bg-brands-gmail"></span>
		<span class="sg-label">Gmail red<br>#ec230e</span>
	</li>
	<li>
		<span class="sg-swatch bg-brands-linkedin"></span>
		<span class="sg-label">LinkedIn blue<br>#0066a9</span>
	</li>
</ul>
