.avatar {
  @apply inline-block text-center rounded-full;

  img {
    @apply rounded-full block w-8;
  }
}

.avatar--xs img {
  @apply w-6;
}
.avatar--sm img {
  @apply w-7;
}
.avatar--md img {
  @apply w-8;
}
.avatar--lg img {
  @apply w-9;
}
.avatar--xl img {
  @apply w-10;
}
.avatar--2xl img {
  @apply w-11;
}

.avatar--bordered {
  img {
    @apply border-white border-8;
  }
}

.avatar--outlined {
  @apply border-grey-100 border;
}
