<footer class="footer">
  <section class="footer-section footer-main">
    <div class="top">
      <div class="container">
        <div class="grid grid-cols-12">
          <div class="md:col-span-3 col-span-12 footer-copy">
            <img
              src="https://www.va-fighters.com/pirati/krajska-sablona/dist/assets/img/logo.svg"
              alt=""
              class="footer-brand w-9 md:w-10 pb-3"
            />
            <p class="para hidden md:block">
              Piráti, 2020. Všechna práva vyhlazena. Sdílejte a nechte
              ostatní sdílet za stejných podmínek.
            </p>
          </div>
          <div class="md:col-span-2 col-span-12">
            <span class="text-xl uppercase is-highlighted">Nová sekce</span>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
            </ul>
          </div>
          <div class="md:col-span-2 col-span-12">
            <span class="text-xl uppercase is-highlighted">Nová sekce</span>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
            </ul>
          </div>
          <div class="md:col-span-2 col-span-12">
            <span class="text-xl uppercase is-highlighted">Nová sekce</span>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer-link">
                <a href="#">Lorem ipsum</a>
              </li>
            </ul>
          </div>
          <div class="md:col-span-3 col-span-12 footer-social mb-3 md:mb-0">
            <div class="mb-2">
              <div class="footer-social-links is-highlighted pb-2">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-rss"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-flickr"></i></a>
              </div>
              <a href="#"><i class="fas fa-envelope"></i> Dejte nám vědět</a
              >
            </div>
            <a href="#" class="btn has-icon is-inverted is-lg is-fullwidth md:is-auto mb-1">
              <div class="btn-body-wrap">
                <span class="btn-body">Přispěj</span>
                <div class="btn-icon">
                  <img src="https://www.va-fighters.com/pirati/krajska-sablona/dist/assets/img/icons/money.svg" alt="" />
                </div>
              </div>
            </a>
            <a href="#" class="btn has-icon is-green is-lg is-fullwidth md:is-auto">
              <div class="btn-body-wrap">
                <span class="btn-body">Naloď se</span>
                <div class="btn-icon">
                  <img src="https://www.va-fighters.com/pirati/krajska-sablona/dist/assets/img/icons/onboard.svg" alt="" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="footer-splitter" />
  <section class="footer-section is-dense footer-sub">
    <div class="container">
      <div class="grid grid-cols-12 justify-content-left">
        <div class="md:col-span-3 col-span-12">
          <span class="text-xl uppercase is-highlighted">Otevřenost</span>
        </div>
        <div class="lg:col-span-2 md:col-span-3 col-span-12">
          <ul>
            <li>
              <a href="#">Transparentní účet</a>
            </li>
          </ul>
        </div>
        <div class="lg:col-span-2 md:col-span-3 col-span-12">
          <ul>
            <li>
              <a href="#">Registr smluv</a>
            </li>
          </ul>
        </div>
        <div class="lg:col-span-2 md:col-span-3 col-span-12">
          <ul>
            <li>
              <a href="#">Otevřené účetnictví</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-section footer-inv">
    <div class="container">
      <div class="footer-contacts">
        <div class="footer-contact">
          {{> 01-molecules/00-badge/condensed }}
        </div>
        <div class="footer-contact">
          {{> 01-molecules/00-badge/condensed }}
        </div>
        <div class="footer-contact">
          {{> 01-molecules/00-badge/condensed }}
        </div>
        <div class="mt-4 lg:mt-0 lg:text-right footer-contact">
          <a href="#" class="btn is-basic is-inverted is-fullwidth md:is-auto is-lg to-faded">
            <span class="btn-body">Kontakt</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</footer>
