<div class="candidate-card-list grid-cols-5">
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item candidate-card-list__item--last") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item") }}
  {{> molecules-candidate-card(classes: "candidate-card-list__item candidate-card-list__item--last") }}
</div>
