<a href="#" class="social-icon social-icon--fill bg-brands-facebook text-white {{ classes }}"><i class="{{ icon }}"></i></a>
<a href="#" class="social-icon social-icon--fill bg-brands-facebook text-white {{ classes }}"><i class="{{ icon }} text-xl"></i></a>
<a href="#" class="social-icon social-icon--fill bg-brands-facebook text-white {{ classes }}"><i class="{{ icon }} text-xl text-3xl"></i></a>
