<p class="text-7xl">7xl size</p>
<p class="text-6xl">6xl size</p>
<p class="text-5xl">5xl size</p>
<p class="text-4xl">4xl size</p>
<p class="text-3xl">3xl size</p>
<p class="text-2xl">2xl size</p>
<p class="text-xl">xl size</p>
<p class="text-lg">lg size</p>
<p class="text-base">base size</p>
<p class="text-sm">sm size</p>
<p class="text-xs">xs size</p>
