<h1 class="head-xl-alt">Largest headline</h1>
<h1 class="head-lg-alt">Large headline</h1>
<h1 class="head-md-alt">Medium headline</h1>
<h1 class="head-base-alt">Base headline</h1>
<h1 class="head-sm-alt">Small headline</h1>
<h1 class="head-xs-alt">Extra small headline</h1>

<h1 class="head-base">Base headline</h1>
<h1 class="head-base-heavy">Base headline heavy variant</h1>

<h1 class="head-sm">Small headline</h1>
<h1 class="head-sm-heavy">Small headline heavy variant</h1>

<h1 class="head-xs">Extra small headline</h1>
<h1 class="head-xs-allcaps">Extra small headline allcaps</h1>
<h1 class="head-xxs-allcaps">Extra extra small headline allcaps</h1>
