<h1 class="h-xl">Largest headline</h1>
<h1 class="h-lg">Large headline</h1>
<h1 class="h-md">Medium headline</h1>
<h1 class="h-base">Base headline</h1>
<h1 class="h-base-heavy">Base headline heavy variant</h1>
<h1 class="h-sm">Small headline</h1>
<h1 class="h-sm-heavy">Small headline heavy variant</h1>
<h1 class="h-xs">Extra small headline</h1>
<h1 class="h-xs-allcaps">Extra small headline allcaps</h1>
