<h1 class="head-xl">Largest headline</h1>
<h1 class="head-lg">Large headline</h1>
<h1 class="head-md">Medium headline</h1>
<h1 class="head-base">Base headline</h1>
<h1 class="head-base-heavy">Base headline heavy variant</h1>
<h1 class="head-sm">Small headline</h1>
<h1 class="head-sm-heavy">Small headline heavy variant</h1>
<h1 class="head-xs">Extra small headline</h1>
<h1 class="head-xs-allcaps">Extra small headline allcaps</h1>
