<div class="flex space-x-4">
  {{> atoms-basic-card(classes: "elevation-1", description: "elevation-1") }}
  {{> atoms-basic-card(classes: "elevation-2", description: "elevation-2") }}
  {{> atoms-basic-card(classes: "elevation-3", description: "elevation-3") }}
  {{> atoms-basic-card(classes: "elevation-4", description: "elevation-4") }}
  {{> atoms-basic-card(classes: "elevation-5", description: "elevation-5") }}
  {{> atoms-basic-card(classes: "elevation-6", description: "elevation-6") }}
  {{> atoms-basic-card(classes: "elevation-7", description: "elevation-7") }}
  {{> atoms-basic-card(classes: "elevation-8", description: "elevation-8") }}
  {{> atoms-basic-card(classes: "elevation-9", description: "elevation-9") }}
  {{> atoms-basic-card(classes: "elevation-21", description: "elevation-21") }}
</div>
