<div class="badge">
  {{> atoms-basic-avatar(classes: "avatar--md") }}
  <div class="badge-body">
    <span class="head-sm-heavy">{{ person.first }} {{ person.last }}</span>
    <p class="badge-occupation">{{ person.occupation }}</p>
    {{> atoms-basic-contact-line(icon: "fas fa-phone", caption: "+420 777 123 123", classes: "badge-link") }}
    {{> atoms-basic-contact-line(icon: "fas fa-envelope", classes: "badge-link") }}
  </div>
</div>
