<div class="badge is-condensed">
  {{> atoms-basic-avatar(classes: "avatar--sm") }}
  <div class="badge-body">
    <span class="head-xs badge-title">Mikuláš Peksa</span>
    {{> atoms-basic-contact-line(icon: "fas fa-envelope", classes: "badge-link") }}
  </div>
</div>
