<div class="badge is-condensed">
  <div class="badge-avatar">
    <img
      src="http://placehold.it/64x64"
      alt=""
    />
  </div>
  <div class="badge-body">
    <span class="head-xs badge-title">Mikuláš Peksa</span>
    {{> atoms-basic-contact-line(icon: "fas fa-envelope", classes: "badge-link") }}
  </div>
</div>
