<div class="badge is-condensed">
  <div class="badge-avatar">
    <img
      src="http://placehold.it/64x64"
      alt=""
    />
  </div>
  <div class="badge-body">
    <span class="h-xs badge-title">Mikuláš Peksa</span>
    <a href="mailto:example@example.com" class="badge-link">
      <i class="fas fa-envelope"></i> example@example.com
    </a>
  </div>
</div>
