<div class="badge">
  <div class="badge-avatar">
    <img
      src="http://placehold.it/100x100"
      alt=""
    />
  </div>
  <div class="badge-body">
    <span class="h-sm-heavy">Mikuláš Peksa</span>
    <p class="badge-occupation">Předseda krajského sdružení Pardubického kraje</p>
    <a href="tel:+420777123123" class="badge-link is-dimmed">
      <i class="fas fa-phone"></i> +420 775 609 939
    </a>
    <a href="mailto:example@example.com" class="badge-link is-dimmed">
      <i class="fas fa-envelope"></i> example@example.com
    </a>
  </div>
</div>
