<div class="card candidate-card candidate-card--shift-lg {{ classes }} elevation-10">
  {{> atoms-basic-avatar(classes: "avatar--2xl avatar--bordered candidate-card__avatar") }}
  <div class="card__body">
    <h1 class="head-sm-alt">{{ headline.short }}</h1>
    <p>{{ excerpt.short }}</p>
  </div>
</div>
