<button class="btn">
  <div class="btn-body">{{ cta }}</div>
</button>

<button class="btn is-green">
  <div class="btn-body">{{ cta }}</div>
</button>

<button class="btn is-inverted">
  <div class="btn-body">{{ cta }}</div>
</button>

<button class="btn is-inverted to-faded">
  <div class="btn-body">{{ cta }}</div>
</button>
