<button class="btn has-icon {{ classes }}">
  <div class="btn-body-wrap">
    <div class="btn-body">{{ cta }}</div>
    <div class="btn-icon">
      <i class="{{ icon }}"></i>
    </div>
  </div>
</button>
