<button class="btn is-inverted">
  <div class="btn-body">
    An inverted button
  </div>
 </button>

 <button class="btn is-inverted to-faded">
  <div class="btn-body">
    An inverted button that doesn't go fully black
  </div>
 </button>
