.badge {
  @apply flex items-center font-body;

  .badge-body {
    @apply text-left ml-3;
  }

  .badge-title {
    @apply block;
  }

  .badge-occupation {
    @apply uppercase text-sm max-w-sm my-1;
  }

  .badge-link {
    @apply text-sm font-light block w-full;
  }
}

.badge.is-condensed {
  .badge-title {
    @apply mb-1;
  }

  .badge-body {
    @apply ml-2;
  }
}
