<div class="social-icon-group space-x-xs">
  {{> atoms-filled-social-icon(classes: "bg-brands-facebook text-white", icon: "fab fa-facebook") }}
  {{> atoms-filled-social-icon(classes: "bg-brands-twitter text-white", icon: "fab fa-twitter") }}
  {{> atoms-filled-social-icon(classes: "bg-brands-linkedin text-white", icon: "fab fa-linkedin") }}
</div>
